# Linear Regression Code Along

In [7]:
import pandas as pd

df = pd.read_csv("../../data/Advertising.csv", index_col=0)
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [11]:
df.shape

(200, 4)

In [15]:
print(f"{df.shape[0]} samples")
print(f"{df.shape[1]-1} features")
print("sales column is our label/target")

200 samples
3 features
sales column is our label/target

## EDA left for the reader (me)

## divide data into X and Y

In [18]:
# Tuple unpacking
# X will contain all columns except 'sales'
# y will contain the 'sales' column

X, y = df.drop("sales", axis=1), df["sales"]
X.head()

      TV  radio  newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [21]:
y.head()
type(y)

pandas.core.series.Series

## Scikit-learn Steps

1. Train | test split or train | val | test split
2. Scale dataset
    - Many algorithms require scaling, some don't
    - Different types of scaling